#projects {
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    color: white;
    gap: 1rem;
    padding: 1rem 0;
}
  
#projects h3 {
    text-align: center;
    font-size: 1.2rem;
}
  
#project-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
}
  
.project-card {
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;
    text-decoration: none;
}
  
.project-card > h3 {
    background-color: rgb(80, 80, 95);
    margin: 0;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
}
  
.project-card p {
    padding: 0 0.5rem;
    color: rgb(45, 45, 50);
    font-size: 1rem;
    overflow-y: scroll;
}  