html, body {
    overflow-x: hidden;
}

body {
    background-color: #c8c8c8;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#main {
    height: 100%;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-header {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0.5rem;
    padding-left: 2rem;
    background: linear-gradient(to right, rgb(185, 75, 75) 50%, transparent 100%);
    position: relative;
    display: inline-block;
    margin: 0;
    margin-top: 5px;
}

.section-header::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -1.5rem;
    width: 10px;
    height: 10px;
    background-color: #b94b4b;
    transform: translateY(-50%) rotate(45deg);
    box-shadow: 0 0 6px rgba(255, 0, 0, 0.6);
}

#about-text {
    background-color: white;
    border-left: 0.25rem solid #b94b4b;
    margin: 0;
    padding: 1rem;
    line-height: 1.75;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Segoe UI', 'Roboto', sans-serif;
    letter-spacing: 0.3px;
    height: 100%;
}