body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

@font-face {
    font-family: rawr;
    src: url(../fonts/kabisat.ttf);
}

header {
    background-color: rgb(215, 70, 70);
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.nav-side {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    height: 100%;
}

h1 {
    width: 50%;
    text-align: center;
    font-family: rawr;
    font-size: 3.6vw;
    color: white;
    font-weight: lighter;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.link {
    width: 45%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link > img {
    width: 100%;
}

.logo {
    width: 100%;
}

main{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 50, 50);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 92%;
    width: 90%;
}

#tab-cont {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tabs {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.active-tab {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    cursor: pointer;
}

#display-cont {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.active-card{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

.card {
    position: relative;
    display: none;
    height: 100%;
    width: 100%;
}