* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

@font-face {
    font-family: header;
    src: url('./assets/fonts/Thuast-Demo.otf');
}

@font-face {
    font-family: poke;
    src: url('./assets/fonts/PokemonGb-RAeo.ttf');
}

body {
    background-color: black;
    height: 200vh;
    width: 100%;
}

#root {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.wrap {
    display: flex;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    max-width: 412px;
    gap: 1rem;
}

header {
    height: 70px;
    width: 100%;
    background-color: #3b5986;
    background-image: url('headerbg.webp');
    background-position: center;
    background-size: cover;
    justify-content: center;
    position: sticky;
    top: 0;
}

header > div {
    height: 100%;
    width: 80%;
    align-items: flex-end;
    margin-left: 1rem;
    color: rgba(55, 54, 88, 0.89);
}

h1 {
    display: flex;
    align-items: center;
    height: 100%;  
    font-size: calc(100% + 2vw);
    margin-left: 1rem;
    font-family: header;
    -webkit-text-stroke: 0.5px rgb(255, 250, 226);
    margin-right: 1rem;
    width: 100%;
}

#logo {
    height: 95%;
}

main {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(235, 235, 235);
    padding: 1rem;
}

#about {
    justify-content: center;
    height: 50%;
}

#about-text-wrap {
    border: 5px ridge silver;
    background-color: white;
    padding: 0.5rem;
    height: 25%;
    font-size: calc(32% + 1vw);
    font-family: poke, monospace;
    overflow: auto;
}

#about-image-wrap {
    width: 50%;
}

#about-image-wrap > img {
    height: 100%;
    width: 100%;
} 

#about-btn-wrap {
    flex-wrap: wrap;
    width: 100%;
    height: 25%;
    justify-content: space-evenly;
}

#about-btn-wrap > button {
    width: 45.5%;
    height: 45%;
    border-radius: 0.5rem;
    font-size: calc(60% + 1vw);
    color: white;
    cursor: pointer;
    font-weight: 900;
    outline: 3px solid black;
    box-sizing: border-box;
    transition: ease-in-out 300ms;
    text-shadow: 0 0 5px black;
    font-family: poke, monospace;
}

#about-btn-wrap > button:active {
    font-size: calc(60% + 1.2vw);
    box-shadow: inset 0 0 1px 13px rgba(255, 255, 255, 0.2);
    
}

#gh-btn {
    box-shadow: inset 0 0 1px 13px #e83838;
    border: 3px solid #ff3b3b;
    background-color: #a22727;
}

#li-btn {
    box-shadow: inset 0 0 1px 13px #28b8f0;
    border: 3px solid #2ac3ff;
    background-color: #2093c0;
}

#mail-btn {
    box-shadow: inset 0 0 1px 13px #f8b028;
    border: 2px solid #ffb936;
    background-color: #c78d20;
}

#resume-btn {
    box-shadow: inset 0 0 1px 13px #50e028;
    border: 3px solid #5bff2e;
    background-color: #40b320;
}

#projects-wrap {
    outline: 1px solid red;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.project-arrow {
    max-width: 70px;
    width: 10%;
    aspect-ratio: 1/1.5;
    background-image: url('./assets/icons/arrow.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 1rem;
    border: none;
}

.project-arrow:hover {
    background-image: url('./assets/icons/arrow2.png');
    background-color: inherit;
}

.project-arrow:active {
    background-image: url('./assets/icons/arrow3.png');
}

#left-arrow {
    transform: rotate(90deg);
}

#right-arrow {
    transform: rotate(-90deg)
}

.project {
    outline: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    width: 100%;
    height: 5%;
    background-color: rgb(41, 41, 41);
}